node_modules/
bower_components/
*.log

build/
dist/

# forever pids
server/pid

# Environment stuff
.env
node-upstart-script.conf

# Floobits related stuff
.floo
.flooignore

# Anything AWS related
.elasticbeanstalk/
