@import "./config.css";

.root {
  background-color: #586994;
  padding: 10% 25% 25% 25%;
  height: 100%;
  width: 100%;
}

.root img {

}

.submit {
  width: 90%;
  padding: 5px;
  margin-left: 5%;
  color: white;
  font-size: 20px;
  color: #283D3B;
  background-color: white;
  cursor: pointer;
}

.submit:hover {
  background-color: #EDDDD4;
  color: #424B54;
}

.label {
  color: #ED6A5;
  border: visible;
  border-width: 1px;
  border-color: #283D3B;
  border-radius: 15px;
  color: #424B54;
  background-color: #fff;
}

.form {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-style: solid;
  opacity: 1;
  border: visible;
  border-width: 2px;
  border-color: #EAEAEE;
  width: 300px;
  height: 300px;
  padding-top: 50px;
}

form {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.input {
  padding: 3px 3px;
  margin: 5px;
  width: 90%;
}
