* {
  box-sizing: border-box;
}
html {
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica Neue", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: white;
  line-height: 1.4em;
  background-color: #E6EBE0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

p {
  margin: 30px;
}

ul {
  list-style-type: none;
}

input:focus {
  outline: none;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.form {
  background: transparent;
  color: #283D3B;
  padding: 0;
  width: 100%;
}

.form button {
  box-shadow: 5px 4px 5px #424B54;
  margin-bottom: 30px;
  font-size: 20px;
  padding: 10px 10px;
  border: visible;
  border-style: solid;
  border-color: #283D3B;
  border-radius: 15px;
  background-color: #E6EBE0;
}

.form button:hover {
  cursor: pointer;
  color: #283D3B;
  background-color: #F5D547;
  border-color: #283D3B;
}
