@import "./config.css";

.root {
  min-width: 99.9%;
  padding: 10px;
  display:table;
  background-color: #424B54;
}

.ul {
  width: inherit;
  padding-left: 0;
}

.navItem {
  resize: inherit;
  color: white;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  background-color: #ED6A5A;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  font-weight: 10;
  font-size: 20px;
  text-decoration: none;
  border-radius: 15px;
}

.navItem:hover {
  background-color: #cb2a16;
}
