@import "./config.css";

.root {
  box-shadow: 0 5px 5px grey;
  min-width: 100%;
  padding: 10px;
  display: table;
  background-color: #424B54;
}

img {
  float: left;
}

.ul {
  width: inherit;
  padding-left: 0;
}

.navItem {
  box-shadow: 3px 2px 3px #272C31;
  resize: inherit;
  color: white;
  padding: 3px 3px;
  margin: 3px 5px;
  display: inline-block;
  background-color: #ED6A5A;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  font-weight: 10;
  font-size: 10px;
  text-decoration: none;
  border-radius: 15px;
}

.navItem:hover {
  background-color: #cb2a16;
}

.signout {
  float: right;
  box-shadow: 3px 2px 3px #272C31;
  resize: inherit;
  color: white;
  padding: 3px 3px;
  margin: 3px 5px;
  display: inline-block;
  background-color: #ED6A5A;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  font-weight: 10;
  font-size: 10px;
  text-decoration: none;
  border-radius: 15px;
}
