@import "./config.css";

.root {
  min-width: 100%;
  height: 90px;
  padding: 10px;
  display: inline-block;
  background-color: #2d414d;
  position: relative;
  overflow: hidden;
}

/*.root:after{
  content: ".";
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    overflow: auto;
}*/

.headerLogo {
  /*float: left;*/
  /*vertical-align: middle;*/
  display: inline-block;
  position: absolute;
  top: 0; bottom: 0; left: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ul {
  width: inherit;
  padding-left: 0;
}

.imageHolder {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 180px;
  display: inline-block;
  padding: 15px 15px 15px 15px;
  background-color: #24343d;
  transition: all 2s;
}

.imageHolder:hover {
  background-color: #c0d6e4;
  transition: all 4s;
}

.linkHolder {
  position: absolute;
  right: 130px; bottom: 0; top: 0;
/*  text-align: center;*/
  display: inline-block;

}

.navButtonContainer {
    display: inline-block;/*
    margin: 0px 92px 0px 180px;*/
    overflow: auto;
    text-align: center;
}

.navItem {
  vertical-align: middle;
  padding-top: 15px;
  color: #fff;
  display: inline-block;
  height: 100%;
  width: 25%;
  font-size: 18px;
  text-decoration: none;
}

.navItem:active{
  background-color: white;
}

.navItemText {
  display: inline-block;
  margin-top: 15px;
}

.navItemText:hover {
  color: ;
}

.navItemSummary {
  composes: navItemText;
}

.navItemMeditations {
  margin-top: 30px;
  composes: navItemText;  
}

.navItemJournal {
  margin-top: 30px;
  composes: navItemText;  
}

.navItemTwit {
  composes: navItemText;  
}

.summary{
  composes: navItem;
}

.meditations{
  composes: navItem;
}

.journal{
  composes: navItem;
}

.twit{
  composes: navItem;
}

.logout {
  color: #fff;
  background-color: #24343d;
  padding: 35px 20px 0px 20px;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  position: absolute;
  top: 0; bottom: 0; right: 0;
  transition: all 2s;
}

.logout:hover {
  background-color: #c0d6e4;
  transition: all 4s;
}

.navItem:hover {
  color: #b8d8d8;
  background-color: white;
  text-decoration: underline;
  font-weight: 500;
}

.signout {
  float: right;
  resize: inherit;
  color: white;
  padding: 3px 3px;
  margin: 3px 5px;
  display: inline-block;
  text-decoration: none;
}
