@import "./config.css";

.root {
  box-shadow: 5px 4px 5px #424B54;
  background-color: #E6EBE0;
  color: #424B54;
  width: 65%;
  padding: 5px 5px 5px 10px;
  margin: 1% 17.5%;
}

input[type=range] {
  width: 85%;
  height: 5px;
  background: #71808E;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ED6A5A;
  margin-top: -4px;
}

select {
  border: none;
  background-color: white;
  color: #424B54;
}

select:checked {
  border: none;
  color: #424B54;
}

option {
  border: none;
  color: #424B54;
}

 input[type=radio] {
   padding: 0;
   background: transparent;
   background-color: white;
   vertical-align: text-top;
 }

 input[type=radio] {
    -webkit-border-radius: 2em; /* Make radios round */
  }

textarea {
  border: none;
  resize: none;
  width: 90%
}

textarea:focus {
  outline: none
}

.textQuestion {
  background-color: #E6EBE0;
  color: #424B54;
  width: 65%;
  padding: 5px 5px 5px 5px;
  margin: 1% 17.5%;
  box-shadow: 5px 4px 5px #424B54;
}

.radioList {
  list-style-type: none;
  padding-left: 0;
}

.radioList li {
  margin: 0 5px;
  display: inline-block;
}
