@import "./config.css";

.root {
  min-width: 99.9%;
  padding: 10px;
  display: table;
  text-align: center;
  /*margin: 50px auto;*/
  background-color: #5CA4A9;
  border-radius: 50px;

}

.navButton {
  flex: 1;
  display: inline-block;
  vertical-align: middle;
  color: white;
  background: transparent;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
  font-weight: 100;
  font-size: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  outline: 0;
  transition: all 1s;
}

.prev {
  composes: navButton;
  float: left;
}

.next {
  composes: navButton;
  float: right;
}

.navButton:hover {
  transition: all 1s;
  color: #F4F1BB;
  font-size: 25px;
}

.currentQuestion {
  width: inherit;
  resize: inherit;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
  color: white;
  display: inline-block;
}