@import './config.css';

input[type=range] {
  width: 60%;
  height: 5px;
  background: #71808E;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ED6A5A;
}

select {
  border: solid black 1px;
  background-color: white;
  color: #424B54;
  margin-left: 5%;
  font-size: 18px;
}

select:checked {
  border: none;
  color: #424B54;
}

option {
  border: none;
  color: #424B54;
}

 input[type=radio] {

   padding: 0px;
   background: transparent;
   background-color: white;
   vertical-align: text-top;
 }

 input[type=radio] {
    -webkit-border-radius: 2em;
  }

textarea {
  border: solid 1px;
  border-color: #e5eef4;
  width: 90%;
  font-size: 18px;
}

.textQuestion {
  color: #424B54;
  width: 65%;
  padding: 5px 5px 5px 5px;
  margin: 1% 17.5%;
  text-align: center;

}

.radioList li {
  display: inline-block;
}

.submitForm {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  background-color: #7A9E9F;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.inputBox {
  text-align: center;
  margin: 5px 0px 10px 0px;
  display: inline-block;
}

.submitForm:hover {
  background-color: #B8D8D8;
}

.twitterHolder {
 text-align: center;
}

.twitterField {

}
.twitterField > input {
  width: 300px;
  font-size: 18px;
}

.textBox {
  text-align: center;
}

.slider {
  text-align: center;
}
