@import "./config.css";

.root {
  background-color: white;
  color: #424B54;
  width: 65%;
  padding: 5px 5px 5px 10px;
  margin: 1% 17.5%;
}

.submit {
  width: 90%;
  padding: 5px;
  margin-left: 5%;
  margin-bottom: 10%;
  color: white;
  font-size: 20px;
  color: #586994;
  background-color: #7A9E9F;
  cursor: pointer;
}

button {
  
  margin-bottom: 30px;
  font-size: 20px;
  padding: 10px 10px;
  border-style: solid;
  border-color: white;
}

button:hover {
  cursor: pointer;
  color: #283D3B;
  background-color: #F5D547;
  border-color: #283D3B;
}


input[type=range] {
  width: 55%;
  /*height: 5px;*/
  background: #71808E;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 16px;
  width: 16px;
  /*border-radius: 50%;*/
  background: #ED6A5A;
  margin-top: -4px;
}

select {
  border: solid 1px;
  background-color: white;
  color: #424B54;
  font-size: 20px;
}

select:checked {
  border: none;
  color: #424B54;
}

option {
  border: none;
  color: #424B54;
}

 input[type=radio] {
   padding: 0;
   background: transparent;
   background-color: white;
   vertical-align: text-top;
 }

 input[type=radio] {
    -webkit-border-radius: 2em;
  }

textarea {
  border: solid 1px;
  resize: none;
  width: 90%
}

textarea:focus {
  outline: none
}

.textQuestion {
  color: #424B54;
  width: 65%;
  padding: 5px 5px 5px 5px;
  margin: 1% 17.5%;
}

.radioList {
  margin-left: 5%;
}

.radioList li {
  margin-left: 5%;
  display: inline-block;
}

.journalList {
  text-align: left;
}

.radarChart {
  margin-left: 20%;
}
